 /* Create.css */

 @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

.todo-item.dragging {
    background-color: #888; /* Change this to the color you want */
  }

.todos.dragging-over {
    flex-direction: column;
  }

.todo-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 240px; /* Set the width to the same as the todo items */
    border: 1px solid #555; /* Lighter than the todo items */
    border-radius: 10px; /* Round borders */
  }
  
  .todo-button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 300px; /* Set the width to the same as the todo items */
    border: 1px solid #555; /* Lighter than the todo items */
    border-radius: 10px; /* Round borders */
  }

/* Create.css */
.todo-item {
    border: 1px solid #000; /* Add a border around each todo item */
    padding: 10px; /* Add some padding */
    margin-top: 10px;
    margin-bottom: 10px; /* Add some margin to separate the items */
    width: 220px; /* Set a width */
    text-align: center; /* Center the text */
    background-color: #444; /* Lighter than the dark background */
    animation: slideIn 0.3s ease-out forwards; /* Add slide-in animation */
    transition: background-color 0.3s, opacity 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo-item .trashcan {
    cursor: pointer;
  }

  .trashcan {
    color: #ffffff; /* Initial color */
    transition: color 0.2s ease-in-out; /* Transition effect */
  }
  
  .trashcan:hover {
    color: #666; /* Color when hovered */
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
    background-clip: padding-box; /* Don't let the background bleed outside the border */
    border: solid 5px black; /* Make the border transparent */
  }

  .check.completed {
    color: green;
  }
  
  .todo-name.completed {
    text-decoration: line-through;
  }

  .check:hover {
    color: grey;
    cursor: pointer;
  }

  